# Spotify API Credentials
# Get these from https://developer.spotify.com/dashboard
CLIENT_ID=b882a105468c457f8370b3f663c4220b
CLIENT_SECRET=64524974221b43cc834ad29f0f94a29f

# Server Configuration
PORT=8888
NODE_ENV=development
REDIRECT_URI=http://127.0.0.1:8888/callback
FRONTEND_URI=http://localhost:3000

# Production Configuration
# NODE_ENV=production
# REDIRECT_URI=https://your-domain.com/callback
# FRONTEND_URI=https://your-domain.com
